<mat-toolbar  fxflex
              fxLayout="row" 
              fxLayoutAlign="center center" >
              
  <h3> VSAN Hero Numbers </h3> 
</mat-toolbar>  

<div  fxflex
      fxLayout="row" 
      fxLayoutAlign="center center"> 
      <p>    
          Note: This tool is to be used for vSAN IOPS approximation (Quick & Dirty tool). <br>
          &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
          For actual sizing use <span> <a href="https://vsansizer.vmware.com/login.html"> VMware vSAN sizer</a> </span>
      </p>  
</div>


<app-readynode></app-readynode>

