

.workload {
    background: #17A589;
    font-size: 20px;
    font-weight: bold; 
}


.hostcache {
    background: #BDC3C7;
}

.hostiops {
    background: #5DADE2;
}

p {
    font-size: 15px;

}

.summary {
    font-size: 15px;
    background: #BDC3C7 ;
    
}